{% extends "base.html" %}

{% block content %}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Log In</h1>
      </div>

      <div class="container">
        {% if user_form.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong>{{ user_form.errors }}
        </div>
        {% endif %}
      </div>

      <div class="modal-body p-5 pt-0">
        <form class="form-group" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="username" placeholder="Username" name="username"
              value="{{ user_form.username.value }}">
            <label for="username">Username</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="password" placeholder="Password" name="password"
              value="{{ user_form.password.value }}">
            <label for="password2">Password</label>
          </div>

          <label class="p-1">
            <a href="{% url 'password_reset' %}">Forgot password?</a>
          </label>

          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Log In</button>
          <hr class="my-4">
          <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
          <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>
            Sign up with Twitter
          </button>
          <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"></use></svg>
            Sign up with Facebook
          </button>
          <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"></use></svg>
            Sign up with GitHub
          </button>
        </form>
      </div>
    </div>
  </div>

<div class="modal-dialog modal-dialog-centered" style="margin-top: 7%;" role="document">
  <div class="modal-content rounded-4 shadow">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h1 class="fw-bold mb-0 fs-2">Password Reset</h1>
    </div>
          <div class="bg-white rounded-5" bis_skin_checked="1">
            <div class="container">
            {% if form.errors %}
              <div class="alert alert-danger">
                <strong>Error!</strong> Incorrent username or password. Please, try again.
              </div>
            {% endif %}
            </div>
      
          <section class="w-100 p-4 d-flex justify-content-center pb-4">
            <form style="width: 22rem;" method="post">
              {% csrf_token %}
              <div class="form-outline mb-4" bis_skin_checked="1">
                <input type="email" id="email" class="form-control" name="email" required>
                <label class="form-label" for="email" style="margin-left: 0px;">Enter your email to reset password</label> 
              <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>
      
              <div class="col d-flex justify-content-center" bis_skin_checked="1">
                <button type="submit" class="btn btn-primary btn-block mb-4">Reset password</button>
              </div>
      
              <div class="text-center" bis_skin_checked="1">
                <p>Not a member? <a href="#!" data-bs-toggle="modal" data-bs-target="#modalSignup">Register</a></p>
              </div>
            </form>
          </section>
        </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block header %}
<header class="bg-dark">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">MyManga</h1>
            <p class="lead fw-normal text-white-50 mb-0">Read manga or whatever u want</p>
        </div>
    </div>
</header>
{% endblock header %}
