{% extends "base.html" %}

{% block header %}
<header class="bg-dark">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">MyManga</h1>
          <p class="lead fw-normal text-white-50 mb-0">Read manga or whatever u want</p>
      </div>
  </div>
</header>
{% endblock header %}

{% block content %}
    <div class="container bg-white popup" style="width: 31rem;">
        <div class="alert alert-success">
            <strong>Your password was successfuly changed!</strong> Please, <a href="#" data-bs-toggle="modal" data-bs-target="#modalLogin">login</a> now
        </div>
    </div>

{% endblock content %}
