{% extends "base.html" %}

{% block content %}
<div class="popup" role="document">
  <div class="modal-content rounded-4 shadow">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h1 class="fw-bold mb-0 fs-2">Password Reset</h1>
    </div>

    <div class="container">
      {% if form.errors %}
        <div class="alert alert-danger">
          <strong>Error!</strong> {{form.errors.new_password2}}
        </div>
      {% endif %}
    </div>
  

    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form style="width: 22rem;" method="post">
        {% csrf_token %}
        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="password" id="form2Example1" class="form-control" name="new_password1">
          <label class="form-label" for="form2Example1" style="margin-left: 0px;">Password</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="password" id="form2Example2" class="form-control" name="new_password2">
          <label class="form-label" for="form2Example2" style="margin-left: 0px;">Confirm your password</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 64px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="col d-flex justify-content-center" bis_skin_checked="1">
          <button type="submit" class="btn btn-primary btn-block mb-4">Reset my password</button>
        </div>

      </form>
    </section>
  </div>
</div>

{% endblock content %}

{% block header %}
<header class="bg-dark">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">MyManga</h1>
          <p class="lead fw-normal text-white-50 mb-0">Read manga or whatever u want</p>
      </div>
  </div>
</header>
{% endblock header %}
