{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  <div class="container" style="margin-top:50px;">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card border-0">
            <div class="card-body ">
              <div class="d-flex flex-column align-items-center text-center">
                  {% if other_user.avatar %}
                  <img src="{{ other_user.avatar.url }}" class="rounded-circle avatar">
                  {% else %}
                  <img src="{% static 'assets/avatar-placeholder.jpeg' %}" width="230" class="rounded-circle">
                  {% endif %}
                <div class="mt-3">
                  {% if other_user.first_name %}
                  <h4>{{other_user.first_name}} {{other_user.last_name}}</h4>
                  {% endif %}
                  <h3>@{{other_user.username}}</h3>
                  {% if other_user.country or other_user.city %}
                    <p ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/></svg>
                      {{other_user.country}}, {{other_user.city}}
                    </p>
                  {% endif %}
                  <h4>
                      <span class="badge bg-dark">Bookmarks<br>{{ other_user.follows_count }}</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
           {% if other_user.bio %}
          <div class="mb-4">

          <div class="card p-3 text-end">
            <figure class="mb-0">
              <blockquote class="blockquote">
                <p>"{{other_user.bio}}"</p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 text-muted">
                <cite title="Source Title">{{other_user.first_name}} {{other_user.last_name}}</cite>
              </figcaption>
            </figure>
          </div>
        </div>
          {% endif %}
          <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>&nbsp Email</h6>
                <span class="text-secondary">{{other_user.email}}</span>
              </li>
              {% if other_user.instagram %}
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>&nbsp Instagram</h6>
                <span class="text-secondary">{{other_user.instagram}}</span>
              </li>
              {% endif %}
              {% if other_user.telegram %}
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                </svg>&nbsp Telegram</h6>
                <span class="text-secondary">{{other_user.telegram}}</span>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="container py-2 custom_tab_style1_outer">
            <ul class="nav nav-pills mb-3 custom_tab_style1" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">{{other_user.username}}'s Bookmarks</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Comments</button>
              </li>
            </ul>
          </div>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-3 justify-content-start">
                {% for manga in other_user.bookmarks.all %}
                  <div>
                    <a href="{{ manga.get_manga_url }}"><img style="height: 250px; width: 200px;" class="rounded-10 p-2" src="{{ manga.image.url }}"></a>
                    <div>
                      <p>{{manga.title}}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="col-lg-0">
              <div class="post-wrap-message">
              {% for comment in comments %}
              {% if other_user == comment.user %}
                  <div class="d-flex gap-3 py-3 rounded-10" style="margin-bottom: 5%;">
                    <a href="{{ comment.user.get_user_url }}">
                        {% if comment.user.avatar %}
                        <img src="{{ comment.user.avatar.url }}" class="rounded-circle avatar_commentator">
                        {% else %}
                        <img src="{% static 'assets/avatar-placeholder.jpeg' %}" class="rounded-circle avatar_commentator">
                        {% endif %}
                    </a>
                    <div class="flex-grow-1 justify-content-between">
                    <div class="post-header-info">
                      {% if comment.manga.title %}
                      <a href="{{ comment.manga.get_manga_url }}" class="link-dark fw-light" style="display: inline-block; text-decoration: none">for {{ comment.manga.title }}</a>
                      {% elif comment.chapter.manga.title %}
                      <a class="link-dark fw-lighter" style="text-decoration: none; display: inline-block" href="{{ comment.chapter.get_chapter_url }}">for {{ comment.chapter.manga.title }}, ch.{{ comment.chapter.number }}</a>
                      {% endif %}
                      <p style="display: inline-block">{{ comment.created|timesince }} ago</p>
                      <div class="list-group-item bg-body-tertiary rounded">
                        <p style="text-align:justify; font-size:14px;margin:5px 0px 10px;color:#000000;">{{comment.content}}</p>
                        <span class="position-absolute top-0 start-100 translate-middle rounded-pill btn-sm bg-light border border-1">
                          <div class="d-flex justify-content-center align-items-center gap-1">
                            <form action="{{comment.get_likecomment_url}}" method="post">
                              <div class="likes">
                              {% csrf_token %}
                                  <button type="submit" class="like-button">
                                      {% if user not in comment.likes.all %}
                                      <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                      {% else %}
                                      <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#EA4858" stroke="#EA4858" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                      {% endif %}
                                      </button>
                                  <div class="likes-count inner">{{comment.likes_count}}</div>
                              </div>
                          </form>
                          </div>
                        </span>
                        </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-end flex-column mb-3">
                    {% if other_user == comment.user and user == other_user %}
                      {% if comment.manga.title %}
                        <form action="{% url 'manga-comment-delete' %}" method="post">
                          {% csrf_token %}
                        <button type="submit" style="margin-left: 30%;" class="btn btn-outline-danger btn-sm" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bucket" viewBox="0 0 16 16">
                          <path d="M2.522 5H2a.5.5 0 0 0-.494.574l1.372 9.149A1.5 1.5 0 0 0 4.36 16h7.278a1.5 1.5 0 0 0 1.483-1.277l1.373-9.149A.5.5 0 0 0 14 5h-.522A5.5 5.5 0 0 0 2.522 5zm1.005 0a4.5 4.5 0 0 1 8.945 0H3.527zm9.892 1-1.286 8.574a.5.5 0 0 1-.494.426H4.36a.5.5 0 0 1-.494-.426L2.58 6h10.838z"/>
                        </svg></button>
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        {% endif %}
                        {% if comment.chapter.manga.title %}
                        <form action="{% url 'chapter-comment-delete' %}" method="post">
                          {% csrf_token %}
                        <button type="submit" style="margin-left: 30%;" class="btn btn-outline-danger btn-sm" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bucket" viewBox="0 0 16 16">
                          <path d="M2.522 5H2a.5.5 0 0 0-.494.574l1.372 9.149A1.5 1.5 0 0 0 4.36 16h7.278a1.5 1.5 0 0 0 1.483-1.277l1.373-9.149A.5.5 0 0 0 14 5h-.522A5.5 5.5 0 0 0 2.522 5zm1.005 0a4.5 4.5 0 0 1 8.945 0H3.527zm9.892 1-1.286 8.574a.5.5 0 0 1-.494.426H4.36a.5.5 0 0 1-.494-.426L2.58 6h10.838z"/>
                        </svg></button>
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                      {% endif %}
                    {% endif %}
                  </div>
                  </div>
                {% endif %}
                {% endfor %}
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
