{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <h5>Best manga comments</h5>
                <div class="post-wrap-message2">
                {% for comment in manga_liked %}
                   <div class="d-flex gap-3 py-2">
                     <a href="{{ comment.user.get_user_url }}">
                         {% if comment.user.avatar %}
                         <img src="{{ comment.user.avatar.url }}" class="rounded-circle avatar_commentator">
                         {% else %}
                         <img src="{% static 'assets/avatar-placeholder.jpeg' %}" class="rounded-circle avatar_commentator">
                         {% endif %}
                     </a>
                     <div class="flex-grow-1 justify-content-between">
                      <div class="post-header-info">
                        <a href="{{ comment.user.get_user_url }}" class="link-dark fw-bold" style="text-decoration: none">{{comment.user.username}}</a>&nbsp;
                        <a href="{{ comment.manga.get_manga_url }}" class="link-dark fw-light" style="display: inline-block; text-decoration: none">for {{ comment.manga.title }}</a>
                        <div class="list-group-item bg-body-tertiary rounded">
                          <p style="text-align:justify; font-size:14px;margin:5px 0px 10px;color:#000000;">{{comment.content}}</p>
                          <span class="position-absolute top-0 start-100 translate-middle rounded-pill btn-sm bg-light border border-1">
                              <div class="d-flex justify-content-center align-items-center gap-1">
                                <div>
                                    <div class="likes">
                                        {% if user not in comment.likes.all %}
                                        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                        {% else %}
                                        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#EA4858" stroke="#EA4858" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                        {% endif %}
                                        <div class="likes-count">{{comment.likes_count}}</div>
                                    </div>
                                </div>
                              </div>
                          </span>
                         </div>
                      </div>
                    </div>
                   </div>
                   {% endfor %}
                </div>
            </div>
            <div class="col mb-5">
                <h5>Best chapter comments</h5>
                <div class="post-wrap-message2">
                    {% for comment in chapter_liked %}
                    <div class="d-flex gap-3 py-2">
                        <a href="{{ comment.user.get_user_url }}">
                            {% if comment.user.avatar %}
                            <img src="{{ comment.user.avatar.url }}" class="rounded-circle avatar_commentator">
                            {% else %}
                            <img src="{% static 'assets/avatar-placeholder.jpeg' %}" class="rounded-circle avatar_commentator">
                            {% endif %}
                        </a>
                        <div class="flex-grow-1 justify-content-between">
                            <div class="post-header-info">
                                <a href="{{ comment.user.get_user_url }}" class="link-dark fw-bold" style="text-decoration: none">{{comment.user.username}}</a>&nbsp;
                                <a class="link-dark fw-lighter" style="text-decoration: none; display: inline-block" href="{{ comment.chapter.get_chapter_url }}">for {{ comment.chapter.manga.title }}, ch.{{ comment.chapter.number }}</a>
                                <div class="list-group-item bg-body-tertiary rounded">
                                    <p style="text-align:justify; font-size:14px;margin:5px 0px 10px;color:#000000;">{{comment.content}}</p>
                                    <span class="position-absolute top-0 start-100 translate-middle rounded-pill btn-sm bg-light border border-1">
                                        <div class="d-flex justify-content-center align-items-center gap-1">
                                            <div>
                                                <div class="likes">
                                                    {% if user not in comment.likes.all %}
                                                    <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                                    {% else %}
                                                    <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#EA4858" stroke="#EA4858" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                                    {% endif %}
                                                    <div class="likes-count">{{comment.likes_count}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col mb-5">
                <h5>Latest users</h5>
                {% for sug_user in other_user %}
                <div class="post-wrap suggestions">
                    <div class="d-flex">
                        <a href="{{ sug_user.get_user_url }}">
                        {% if sug_user.avatar %}
                         <img src="{{ sug_user.avatar.url }}" class="rounded-circle avatar-suggestions">
                         {% else %}
                         <img src="{% static 'assets/avatar-placeholder.jpeg' %}" class="rounded-circle avatar-suggestions">
                         {% endif %}
                        </a>
                        <div class="flex-grow-1 suggestions-header-info" style="margin-top: 5%;">
                            <a style="text-decoration: none" href="{{ sug_user.get_user_url }}" class="link-dark fw-bold">{{ sug_user.username }}</a>&nbsp;
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <h1 class="text-center py-4">Most popular titles</h1>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for manga in liked %}
            {% if forloop.counter <= 5 %}
                <div class="col mb-5" style="width: 350px; margin-left: 2%; margin-right: 2%;">
                    <div class="card h-100" style="width: 350px;">
                        <img class="card-img-top" style="height: 487px; width: 350px;" src="{{ manga.image.url }}"/>
                        <form action="{{ manga.get_follow_url }}" class="manga-form" style="max-width: 35%; margin: 0;" method="POST">
                            {% csrf_token %}
                            {% if manga in user.bookmarks.all %}
                                <button type="submit" class="btn btn-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg>
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg>
                                </button>
                            {% endif %}
                        </form>

                        <div class="manga-form1">
                              <ul class="list-inline rating-list">
                                <span class="fa fa-star {% if manga.average_rating > 0 or manga.average_rating > 0.5 %} checked {% endif %}"></span>
                              </ul>
                              <span class="text-white fw-bold">{{ manga.average_rating|floatformat:"-2" }}</span>
                        </div>

                        <div class="card-body p-3">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ manga.title }}</h5>
                                <h6>{{ manga.getGenre }}</h6>
                            </div>
                        </div>
                        <div class="card-group align-self-center fw-bold" style="margin-bottom: 5%;">{{ manga.type }}</div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center container">
                                <a class="btn btn-outline-dark mt-auto" href="{{ manga.get_manga_url }}">Read</a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-manga{{manga.id}}">About</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-manga{{manga.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{ manga.title }}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ manga.image.url }}" class="p-2 img-about" />
                            <div style="margin-bottom: 5%;">
                                <p align="justify">{{ manga.description }}</p>
                            </div>
                            <div>
                                <p>Genres: {{ manga.getGenre }}</p>
                            </div>
                            <a class="btn btn-outline-dark mt-auto" href="{{ manga.get_manga_url }}">Read</a>
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
</section>
{% endblock content %}

{% block header %}
<header class="bg-dark py">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">MyManga</h1>
              <p class="lead fw-normal text-white-50 mb-0">Read manga or whatever u want</p>
          </div>
      </div>
</header>
<div class="wrapper styled-scrollbars bg-dark" >
    {% for manga in newest %}
        <div style="height: 475px;"><a href="{{ manga.get_manga_url }}"><img href="#" class="imged pepe rounded-10" src="{{ manga.image.url }}" /></a></div>
    {% endfor %}
</div>
{% endblock header %}
