{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Entire Catalog</h1>
            <p class="lead fw-normal text-white-50 mb-0">Read manga or whatever u want</p>
        </div>
        <div class="text-white">
            <form method="post" action="{% url 'manhwa-filter' %}">
                {% csrf_token %}
                <h1 class="text-center">Filter</h3>
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        <div class="col-mb-5">
                            <h3>Status</h3>
                            <ul class="ul">
                                <li>
                                    <input type="checkbox" class="checked" value="Completed" name="manga">
                                    <span>Completed</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" value="Ongoing" name="manga">
                                    <span>Ongoing</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-mb-5">
                            <h3>Age</h3>
                            <ul class="ul">
                                <li>
                                    <input type="checkbox" class="checked" value="16+" name="manga">
                                    <span>16+</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" value="18+" name="manga">
                                    <span>18+</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" value="Empty" name="manga">
                                    <span>Empty</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-mb-5">
                            <h3>Genres</h3>
                            <select class="form-select" name="manga" multiple>
                                {% for genre in genres %}
                                    <option value="{{genre.name}}">{{ genre.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                  </div>
                  <div style="margin-left: 45%;">
                    <a class="btn btn-primary" href="{% url 'manhwa-list' %}">Reset</a>
                    <button class="btn btn-primary" type="submit">Filter</button>
                  </div>
              </form>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if manhwas %}
            {% for manga in manhwas %}
                <div class="col mb-5" style="width: 350px; margin-left: 2%; margin-right: 2%;">
                    <div class="card h-100" style="width: 350px;">
                        <img class="card-img-top" style="height: 487px; width: 350px;" src="{{ manga.image.url }}" />
                        <form action="{{ manga.get_follow_url }}" class="manga-form" style="max-width: 35%; margin: 0;" method="POST">
                            {% csrf_token %}
                            {% if user in manga.bookmarks.all %}
                                <button type="submit" class="btn btn-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg>
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg>
                                </button>
                            {% endif %}
                        </form>
                        <div class="manga-form1">
                            <ul class="list-inline rating-list">
                              <span class="fa fa-star {% if manga.average_rating > 0 or manga.average_rating > 0.5 %} checked {% endif %}"></span>
                            </ul>
                            <span class="text-white fw-bold">{{ manga.average_rating|floatformat:"-2" }}</span>
                        </div>
                        <div class="card-body p-3">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ manga.title }}</h5>
                                <h6>{{ manga.getGenre }}</h6>
                            </div>
                        </div>
                        <div class="card-group align-self-center fw-bold" style="margin-bottom: 5%;">{{ manga.type }}</div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center" id="manga-div">
                                <a class="btn btn-outline-dark mt-auto" href="{{ manga.get_manga_url }}">Read</a> 
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-manga{{manga.id}}">About</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-manga{{manga.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{ manga.title }}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ manga.image.url }}" class="p-2 img-about" />
                            <div style="margin-bottom: 5%;">
                                <p align="justify">{{ manga.description }}</p>
                            </div>
                            <div>
                                <p>Genres: {{ manga.getGenre }}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>
</section>
{% endblock content %}
